[Desktop Entry]
Version=1.0
Type=Application
Name=Install PersisOS
Comment=PersisOS Installer
Exec=calamares-install-debian
Icon=/usr/share/pixmaps/persisos/persisos.svg
Path=
Terminal=false
StartupNotify=false
Keywords=system;installer;install
Categories=System;