set timeout=5
set default=0

menuentry "PersisOS Live" {
    linux /live/vmlinuz boot=live quiet
    initrd /live/initrd
}

menuentry "PersisOS Normal" {
    linux /live/vmlinuz quiet
    initrd /live/initrd
}