[Desktop Entry]
Type=Application
Name=Install PersisOS
Comment=Install PersisOS on this computer
Icon=persisos
Exec=pkexec calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;

